<!DOCTYPE html>
<html lang="en-us">
<head>
    <body>
        <h1>Welcome to the Hawaii Climate API</h1>
        <h2>Available Routes:</h2>
        <ul>
            <li><strong>Show precipitation data:</strong> /api/v1.0/precipitation/</li>
            <li><strong>Show list of stations:</strong> /api/v1.0/stations/</li>
            <li><strong>Show year's worth of recently recorded temperatures:</strong> /api/v1.0/tobs</li>
            <li><strong>Show Min, Avg, and Max temperature for a given date range (YYYY-MM-DD): </strong>/api/v1.0/(start date) or /api/v1.0/(start)/(end)</li>
        </ul>


    </body>

</head>
</html>